* {
    margin: 0;
    padding: 0;
}

.site {
   height: 100vh;
   font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}